.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.empty { }

/* COMMON */

body > .container {
    width: 92%;
    margin: 0 auto;
}

main, section {
	margin-bottom: 30px;
}

header {
    margin-bottom: 20px;
}

header + div, header + section {
	margin-top: 40px;
}

#map {
    margin-top: 6em;
    height: 550px;
    margin-bottom: 2em;
}

.loading-overlay {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 1000;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 36px;
	font-weight: 100;
	font-style: italic;
}

.splash {
	font-size: 21px;
	font-weight: 200;
	margin-bottom: 30px;
}

.splash strong {
    font-weight: 500;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

hr {
    color: #e8e8e8;
    background: #e8e8e8;
    width: 80%;
    height: 1px;
	border: 0;
    margin-bottom: 1em;
}

p {
 margin-bottom: 2em;
}

footer {
	color: #555;
	text-align: center;
	font-size: 76%;
}

footer a, footer a:visited, footer a:hover {
	color: #555;
	text-decoration: underline;
}

/* submit form */
.form-control:invalid {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.form-control:invalid:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

/* mobile */
@media screen and (max-width: 979px) {
    #map {
        height: 50vh;
    }

	body > .container {
	    width: auto;
	}
}

/* big screens */
@media screen and (min-width: 1200px) {
	form label {
		width: 240px;
	}
	
	form .controls {
		margin-left: 260px;
	}
	
	body > .container {
	    width: 87%;
	}
}

/* filters */
.filter {
	margin-bottom: 20px;
}

.filter-slider {
    margin-top: 0.214285715em;
}

.filter-text-label {
    margin-top: 0.4em;
};

.filter-text {
    width: 100%;
}

/* data table */
#dataTable {
	width: auto;
	margin: 0 auto 20px auto;
}

#dataTable td {
	text-align: left;
}

.dateCell {
    white-space: nowrap;
}

.dataOverflow {
	display: none;
}
