html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    overflow: hidden;
}

#map {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -35%;
    width: 70%;
    color: white;
    font-weight: bold;
    z-index: 2000;
    padding: 3px;
    text-align: center;

    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.overlay-warning {
    background-color: #F15A24;
}

.overlay-info {
    background-color: #009245;
}

.sidebar, #sidebar-info {
    position: absolute;
    width: 40%;
    right: 0;
    background-color: #fff;
    border-left: 1px solid black;
    overflow: hidden;
}

.sidebar {
    top: 0;
    bottom: 100px;
    padding: 10px;
}

#sidebar-story {
    z-index: 2;
}

#sidebar-tools {
    z-index: 3;
    overflow-y: auto;
}

#sidebar-tools .panel-heading {
    border-bottom: 0;
}

#sidebar-info {
    position: absolute;
    bottom: 0;
    padding: 20px 10px 10px 10px;
    height: 100px;
    overflow: hidden;
    z-index: 4;
    background-color: #16396A;
    border-top: 1px solid black;
    color: white;

    -webkit-transition: color, background-color 0.5s ease-in-out;
    -moz-transition: color, background-color 0.5s ease-in-out;
    -o-transition: color, background-color 0.5s ease-in-out;
    transition: color, background-color 0.5s ease-in-out;
}

.exploring #sidebar-info {
    background-color: #fff;
    color: black;
}

#sidebar-info .details {
    margin-top: 5px;
    text-align: center;
    font-size: 80%;
}

#sidebar-info .details a {
    color: #3dbbee;
    text-decoration: none;
}

.exploring .hidden-exploring {
    display: none;
}
.visible-exploring {
    display: none;
}
.exploring .visible-exploring {
    display: block;
}

#sidebar-story {
    padding: 0; /* no padding for story */
    background-color: #16396A;
    color: #fff;
}

.story-pane a {
    color: #3dbbee;
    text-decoration: underline;
}

#story {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.story-container {
    position: absolute;
    top: 0;
    left: 36px; /* space for indicators */
    right: 0;
    bottom: 0;
    overflow: auto;
}

.story-indicators {
    position: absolute;
    top: 50%;
    left: 16px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    transform: translateY(-50%); /* vertically center */
}

.story-indicators li {
    width: 10px;
    height: 10px;
    margin: 11px 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

.story-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 10px 0;
    background-color: white;
}

.story-pane {
    padding: 10px;
    margin-bottom: 150px;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

/* header */
header .logo {
    margin-top: 55px;
    background: url(../img/bike.svg) no-repeat center center;
    background-size: contain;
    height: 196px;
}

header h1 {
    margin-top: 0;
    font-size: 28px;
}

/* inactive */
.story-pane.inactive {
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: pointer;
}
.story-pane.inactive a {
    color: #eee !important;
}
.story-pane.inactive [data-story-alt] {
    border-bottom-color: #eee !important;
}

.story-pane [data-story-alt] {
    color: #3dbbee;
    text-decoration: none;
    border-bottom: dashed 1px #3dbbee;
    cursor: pointer;
}

.story-pane [data-story-alt].active {
    color: #fff;
    text-decoration: none;
    border-bottom: dashed 1px #fff;
    cursor: default;
    font-weight: bold;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px
}

form > div {
    margin-top: 20px;
}

/* loading widget */
.loading-overlay {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 1999;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

/* extra large screens */
@media screen and (min-width: 1200px) {
    #map {
        width: auto;
        right: 480px;
    }
    .sidebar, #sidebar-info {
        width: 480px;
    }
}

/* mobile */
@media screen and (max-width: 979px) {
    .story-container {
        position: absolute;
        top: 0;
        left: 40px;
    }

    .story-indicators li {
        width: 13px;
        height: 13px;
        margin: 11px 1px;
        text-indent: -999px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 10px;
    }

    .story-indicators li.active {
        width: 15px;
        height: 15px;
        margin: 10px 0;
        background-color: white;
    }

    header .logo {
        margin-top: 35px;
        height: 142px;
    }
}

@media screen and (max-width: 979px) and (orientation: portrait) {
    #map {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: 45%;
    }

    .sidebar {
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        width: auto;
        height: 55%;
        background-color: #fff;
        border-left: 0;
        border-bottom: 1px solid black;
        padding: 10px;
    }

    #sidebar-story {
        z-index: 2;
    }

    #sidebar-tools {
        z-index: 3;
        overflow-y: auto;
    }

    #sidebar-info {
        display: none; /* TODO: figure outalternate configuration */
    }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
    /* closer together */
    .story-pane {
        margin-bottom: 75px;
    }

    #map {
        height: 40%;
    }

    .sidebar {
        height: 60%;
    }
}

/* filters */
.filter {
    margin-bottom: 20px;
}

.filter-slider {
    margin-top: 0.214285715em;
}

.filter-text-label {
    margin-top: 0.4em;
}

.filter-text {
    width: 100%;
}

/* transit layer */
.transit-legend {
    background-color: #eee;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    padding: 5px 10px 7px 10px;
}

.transit-legend.off {
    display: none;
}

.transit-legend .swatch {
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 4px;
}

.transit-legend h6 {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    font-weight: bold;
}

.transit-legend svg {
    margin-top: 1px;
}

.transit-legend .scale-extrema {
    font-size: 12px;
    line-height: 14px;
    height: 12px;
    margin-bottom: 6px;
}
.transit-legend .low {
    float: left;
}
.transit-legend .high {
    float: right;
}

/* pulsate */

@-webkit-keyframes kf-pulsate {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

@keyframes kf-pulsate {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

.station-active {
    border: 3px solid #999;
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    -webkit-animation: kf-pulsate 1.5s ease-in-out infinite forwards;
    animation: kf-pulsate 1.5s ease-in-out infinite forwards;
}
