html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    overflow: hidden;
}

#map {
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -20%;
    width: 40%;
    color: white;
    font-weight: bold;
    z-index: 1000;
    padding: 3px;
    text-align: center;

    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.overlay-warning {
    background-color: #F15A24;
}

.overlay-info {
    background-color: #0071BC;
}

.sidebar, #sidebar-tabs {
    position: absolute;
    width: 35%;
    right: 0;
    background-color: #fff;
    border-left: 1px solid black;
    overflow: hidden;
}

.sidebar {
    top: 112px;
    bottom: 0;
    padding: 10px;
}

#sidebar-story {
    z-index: 2;
}

#sidebar-tools {
    z-index: 3;
    overflow-y: auto;
}

#sidebar-tabs {
    position: absolute;
    top: 0;
    padding: 10px 10px 0 10px;
    height: 112px;
    overflow: hidden;
    z-index: 4;
}

#sidebar-tabs h1 {
    margin: 0 0 10px 0;
    font-size: 32px;
    line-height: 40px;
}

#sidebar-story {
    padding: 0; /* no padding for story */
}

#story {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.story-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px; /* space for indicators */
}

.story-indicators {
    position: absolute;
    top: 50%;
    right: 10px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    transform: translateY(-50%); /* vertically center */
}

.story-indicators li {
    width: 10px;
    height: 10px;
    margin: 11px 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.story-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 10px 0;
    background-color: black;
}

.story-nav {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.story-nav.story-prev {
    top: 0;
}

.story-nav.story-next {
    bottom: 0;
}

.story-nav .disabled {
    display: none;
}

.story-pane {
    padding: 30px 10px;
    overflow: hidden;
    position: relative;
}

.story-pane [data-story-alt] {
    color: #2f6891;
    text-decoration: none;
    border-bottom: dashed 1px #08c;
    cursor: pointer;
}

.story-pane [data-story-alt].active {
    color: #3dbbee;
    text-decoration: none;
    border-bottom: dashed 1px #08c;
    cursor: default;
    font-weight: bold;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px
}

form > div {
    margin-top: 20px;
}

/* loading widget */
.loading-overlay {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

/* extra large screens */
@media screen and (min-width: 1200px) {
    #map {
        width: auto;
        right: 420px;
    }
    .sidebar, #sidebar-tabs {
        width: 420px;
    }
}

/* mobile */
@media screen and (max-width: 979px) {
    /* TODO: write me */
}

/* transit layer */
.transit-legend {
    background-color: #eee;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    padding: 7px 10px;
}

.transit-legend .swatch {
    height: 12px;
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 4px;
}

.transit-legend h6 {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    font-weight: bold;
}

.transit-legend svg {
    margin-top: 1px;
}

.transit-legend .scale-extrema {
    font-size: 12px;
    line-height: 14px;
    height: 12px;
    margin-bottom: 6px;
}
.transit-legend .low {
    float: left;
}
.transit-legend .high {
    float: right;
}
