html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #c9c9c9;
    overflow: hidden;
}

#map {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid black;
    padding: 10px;
}

#sidebar-story {
    padding: 0; /* no padding for story */
}

#story {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.story-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px; /* space for indicators */
}

.story-indicators {
    position: absolute;
    top: 50%;
    right: 10px;
    list-style: none;
    padding: 0;
    margin: 0 0 0 0;
    transform: translateY(-50%); /* vertically center */
}

.story-indicators li {
    width: 10px;
    height: 10px;
    margin: 11px 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
}

.story-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 10px 0;
    background-color: black;
}

.story-pane {
    padding: 10px;
    overflow: hidden;
    position: relative;
}

.sidebar h2 {
    margin-top: 0;
    font-size: 24px
}

form > div {
    margin-top: 20px;
}

/* extra large screens */
@media screen and (min-width: 1200px) {
    #map {
        width: auto;
        right: 360px;
    }
    .sidebar {
        width: 360px;
    }
}

/* mobile */
@media screen and (max-width: 979px) {
    /* TODO: write me */
}